.chat-page{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.title-name{
    flex: 1;
}

.write-message-holder{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.text-form{
    flex: 5;
    width: 100%;
    border-radius: 20px;
    border: 0px;
    background-color: rgb(192, 195, 216);
    height: 58px;
}

.send-msg{
    flex: 1;
    height: 58px;

}