


.bottom {
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;

}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
}