
html {
    margin: 0;
}

body {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url('./images/sheridan.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.bottom {
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;

}

.App {
    height: 100vh;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}

.app-container{
    height: 99%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.screen {
    height: 100%;
}

.App *::-webkit-scrollbar {
    display: none;
  }

.title {
    margin-right: 30px;
}

.title h1 {
    color: whitesmoke;
}
